* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: #242337 !important;
}

.fs-18 {
  font-size: 18px;
}

.primary-color {
  color: #fcebc0;
}

.secondary-color {
  color: rgba(252, 235, 192, 0.6) !important;
}

.fs-50 {
  font-size: 50px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-35 {
  font-size: 35px;
}

.fs-33 {
  font-size: 33px;
}

.ls-2 {
  letter-spacing: 0.2em;
}

.ls-1 {
  letter-spacing: 0.1em;
}

.tertiary-color {
  color: #d9e1f8 !important;
}
