* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: #242337 !important;
}

.fs-18 {
  font-size: 18px;
}

.primary-color {
  color: #fcebc0;
}

.secondary-color {
  color: rgba(252, 235, 192, 0.6) !important;
}

.fs-50 {
  font-size: 50px;
}

.fs-20 {
  font-size: 20px;
}
